{{define "gameChoices"}}
	{{template "header"}}
	<div id="gameChoices-page-content">
	<h1 class="centered">Choose your winners</h1>
	
	<form id="gameChoices_form" action="/interface/" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label>Titans VS. Jaguars</label>
			<select>
				<option value="Titans">Titans</option>
				<option value="Jaguars">Jaguars</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Rams VS. Ravens</label>
			<select>
				<option value="Rams">Rams</option>
				<option value="Ravens">Ravens</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Redskins VS. Panthers</label>
			<select>
				<option value="Redskins">Redskins</option>
				<option value="Panthers">Panthers</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Broncos VS. Bears</label>
			<select>
				<option value="Bears">Bears</option>
				<option value="Broncos">Broncos</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Cowboys VS. Dolphins</label>
			<select>
				<option value="Cowboys">Cowboys</option>
				<option value="Dolphins">Dolphins</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Raiders VS. Lions</label>
			<select>
				<option value="Raiders">Raiders</option>
				<option value="Lions">Lions</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Jets VS. Texas</label>
			<select>
				<option value="Jets">Jets</option>
				<option value="Texans">Texans</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Colts VS. Falcons</label>
			<select>
				<option value="Colts">Colts</option>
				<option value="Falcons">Falcons</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Buccaneers VS. Eagles</label>
			<select>
				<option value="Buccanners">Buccanners</option>
				<option value="Eagles">Eagles</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Chiefs VS. Chargers</label>
			<select>
				<option value="Chiefs">Chiefs</option>
				<option value="Chargers">Chargers</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Packers VS. Vikings</label>
			<select>
				<option value="Packers">Packers</option>
				<option value="Vikings">Vikings</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>49ers VS. Seahawks</label>
			<select>
				<option value="49ers">49ers</option>
				<option value="Seahawks">Seahawks</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Bengals VS. Cardinals</label>
			<select>
				<option value="Bengals">Bengals</option>
				<option value="Cardinals">Cardinals</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<div class="row">
		<label>Bills VS. Patriots</label>
			<select>
				<option value="Bills">Bills</option>
				<option value="Patriots">Patriots</option>
			</select>
			<select>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
	</div>
	<input id="submit_button" type="submit" value="Submit!" />
</form>
	</div> <!-- end gameChoices-page-content -->
	{{template "footer"}}
{{end}}
