{{define "head"}}
<head>
    <title>Pick Em</title>
    <style>
		
	/*
	*Styling for the body which contains the containers. Mostly usefull to set a background image
	*/
	
	body{
		background-color: rgb(169,169,169);
	}
	
	/* 
	*The container contains all over page elements besides the overall <body>
	*/

	#container{
		margin-right: auto;
		margin-left: auto;
		width: 700px;
	}

	/*
	*Individual page content styling 
	*/
	

	/*
	*Custom Classes
	*/
	
	.centered {
		text-align: center;
	}
    </style>


</head>
{{end}}
