{{define "interface"}}
	{{template "header"}}
	<div id="interface-page-content">
	<h1 class="centered">Game Interface</h1>
	<ol>
		<li>Patriots - Steelers: 28-21 Final</li>
		<li>Packers - Bears: 31-23 Final</li>
		<li>Chiefs - Texans: 27-20 Final</li>
		<li>Browns - Jets: 10-31 Final</li>
		<li>Colts - Bills: 14-27 Final</li>
		<li>Dolphins - Redskins: 17-10 Final</li>
		<li>Panthers - Jaguars: 20-09 Final</li>
		<li>Seahawks - Rams: 31-34 Final</li>
		<li>Saints - Cardinals: 24-21 Final</li>
		<li>Lions - Chargers: 28-33 Final</li>
		<li>Titans - Buccaneers: 42-14 Final</li>
		<li>Giants - Cowboys: 26-27 4Q-0:21</li>
		<li>Ravens - Broncos: 13-19 4Q-2:34</li>
		<li>Bengals - Raiders: 8:30 PM</li>
		<li>Eagles - Falcons: Monday 8:30 PM</li>
		<li>Vikings - 49ers: Monday 8:30 PM</li>
	</ol>
	
	<table border="1" style="width:50%">
  	<tr>
		<td>User</td>
		<td>Score</td>
  	</tr>
  	<tr>
		<td>Jon</td>
		<td>94</td>
  	</tr>
	<tr>
		<td>Giselle Brady</td>
		<td>86</td>
	<tr>
		<td>Joseph</td>
		<td>42</td>
	<tr>
		<td>The player formerly known as Prince</td>
		<td>41</td>
	<tr>
		<td>Turd Ferguson</td>
		<td>23</td>
	<tr>
		<td>Bob Babyboy</td>
		<td>14</td>
	</table>
	</div> <!-- end interface-page-content -->
	{{template "footer"}}
{{end}}
