{{define "interface"}}
	{{template "header"}}
	<h1 class="centered">Game Interface</h1>
	<ol>
		<li>Titans - Jaguars: 13-19 Final</li>
		<li>Rams - Ravens: 13-16 Final</li>
		<li>Redskins - Panthers: 16-44 Final</li>
		<li>Broncos - Bears: 17-15 Final</li>
		<li>Cowboys - Dolphins: 24-14 Final</li>
		<li>Raiders - Lions: 13 - 18 Final</li>
		<li>Jets - Texans: 17-24 Final</li>
		<li>Colts - Falcons: 24-21 Final</li>
		<li>Buccaneers - Texans: 45 - 17 Final</li>
		<li>Chiefs - Chargers: 33 - 3 Final</li>
		<li>Packers - Vikings: 27 - 13 4Q-7:48</li>
		<li>49ers - Seahawks: 13 - 29 4Q-5:34</li>
		<li>Bengals - Cardinals: 8:30 PM</li>
		<li>Bills - Patriots: Monday 8:30 PM</li>
	</ol>
	
	<table border="1" style="width:50%">
  	<tr>
    		<td>User</td>
    		<td>Score</td>
  	</tr>
  	<tr>
    		<td>Eve</td>
    		<td>94</td>
  	</tr>
	<tr>
		<td>Giselle Brady</td>
		<td>14</td>
	<tr>
		<td>Joseph</td>
		<td>30</td>
	<tr>
		<td>The player formerly known as Prince</td>
		<td>88</td>
	<tr>
		<td>Turd Ferguson</td>
		<td>57</td>
	<tr>
		<td>Bob Wehadababyitsaboy</td>
		<td>94</td>
	</table>
	{{template "footer"}}
{{end}}